@use "sass:color";
@use "sass:meta";
@use "../../color" as *;

$_container-height: 36px;
$_disabled-label-text-color: $md-sys-color-on-surface;
$_disabled-label-text-opacity: 0.38;
$_focus-label-text-color: $md-sys-color-primary;
$_hover-label-text-color: $md-sys-color-primary;
$_hover-state-layer-color: $md-sys-color-primary;
$_hover-state-layer-opacity: 0.08;
$_label-text-color: $md-sys-color-primary;
$_label-text-size: 0.875rem;
$_pressed-label-text-color: $md-sys-color-primary;
$_pressed-state-layer-color: $md-sys-color-primary;
$_pressed-state-layer-opacity: 0.12;
$_container-shape: 9999px;
$_leading-space: 12px;
$_container-color: none;
$_disabled-container-color: none;
$_disabled-container-opacity: 0;

@mixin button-text-base($options...) {
    color: $_label-text-color;
    font-size: $_label-text-size;
    background: $_container-color;
    border: none;
    border-radius: $_container-shape;
    outline: none;
    padding: 0 $_leading-space;
    min-height: $_container-height;

    @each $key, $value in meta.keywords($options) {
        #{$key}: $value;
    }

    &:not(:disabled):hover {
        color: $_hover-label-text-color;
        background: color.change($_hover-state-layer-color, $alpha: $_hover-state-layer-opacity);
    }

    &:not(:disabled):active {
        color: $_pressed-label-text-color;
        background: color.change($_pressed-state-layer-color, $alpha: $_pressed-state-layer-opacity);
    }

    &:not(:disabled):focus {
        color: $_focus-label-text-color;
    }

    &:disabled {
        color: color.change($_disabled-label-text-color, $alpha: $_disabled-label-text-opacity);
        background: $_disabled-container-color;
    }
}