@use "sass:color";
@use "../../color" as *;

$_container-color: $md-sys-color-primary;
$_container-height: 36px;
$_container-shadow-color: $md-sys-color-shadow;
$_disabled-container-color: $md-sys-color-on-surface;
$_disabled-container-opacity: 0.12;
$_disabled-label-text-color: $md-sys-color-on-surface;
$_disabled-label-text-opacity: 0.38;
$_focus-label-text-color: $md-sys-color-on-primary;
$_hover-label-text-color: $md-sys-color-on-primary;
$_hover-state-layer-color: $md-sys-color-on-primary;
$_hover-state-layer-opacity: 0.08;
$_label-text-color: $md-sys-color-on-primary;
$_pressed-label-text-color: $md-sys-color-on-primary;
$_pressed-state-layer-color: $md-sys-color-on-primary;
$_pressed-state-layer-opacity: 0.12;
$_container-shape: 9999px;
$_leading-space: 24px;

@mixin button-filled-base($disabled) {
    color: $_label-text-color;
    background: $_container-color;
    border: none;
    border-radius: $_container-shape;
    outline: none;
    padding: 0 $_leading-space;
    min-height: $_container-height;

    &:not(#{$disabled}):hover {
        color: $_hover-label-text-color;
        background: color.mix($_hover-state-layer-color, $_container-color, $_hover-state-layer-opacity * 100%);
        box-shadow: 0px 1px 3px 1px color.change($_container-shadow-color, $alpha: 0.15);
    }

    &:not(#{$disabled}):active {
        color: $_pressed-label-text-color;
        background: color.mix($_pressed-state-layer-color, $_container-color, $_pressed-state-layer-opacity * 100%);
    }

    &:not(#{$disabled}):focus {
        color: $_focus-label-text-color;
    }

    &#{$disabled} {
        color: color.change($_disabled-label-text-color, $alpha: $_disabled-label-text-opacity);
        background: color.change($_disabled-container-color, $alpha: $_disabled-container-opacity);
    }
}

.post-body {

    button.filled,
    input[type="button"].filled,
    input[type="reset"].filled,
    input[type="submit"].filled,
    input[type="color"].filled {
        @include button-filled-base(":disabled");
    }

    permission:granted {
        @include button-filled-base(":invalid");
    }
}