$md-sys-color-background: #1a120a;
$md-sys-color-on-background: #f1dfd1;
$md-sys-color-surface: #1a120a;
$md-sys-color-surface-dim: #1a120a;
$md-sys-color-surface-bright: #42372d;
$md-sys-color-surface-container-lowest: #150d06;
$md-sys-color-surface-container-low: #231a11;
$md-sys-color-surface-container: #271e15;
$md-sys-color-surface-container-high: #32281f;
$md-sys-color-surface-container-highest: #3e3329;
$md-sys-color-on-surface: #f1dfd1;
$md-sys-color-surface-variant: #554434;
$md-sys-color-on-surface-variant: #dbc2ad;
$md-sys-color-inverse-surface: #f1dfd1;
$md-sys-color-inverse-on-surface: #392e25;
$md-sys-color-outline: #a38d7a;
$md-sys-color-outline-variant: #554434;
$md-sys-color-shadow: #000000;
$md-sys-color-scrim: #000000;
$md-sys-color-surface-tint: #ffb870;
$md-sys-color-primary: #ffca97;
$md-sys-color-on-primary: #4a2800;
$md-sys-color-primary-container: #f69300;
$md-sys-color-on-primary-container: #331a00;
$md-sys-color-inverse-primary: #8b5000;
$md-sys-color-secondary: #f6bb81;
$md-sys-color-on-secondary: #4a2800;
$md-sys-color-secondary-container: #5a3404;
$md-sys-color-on-secondary-container: #ffc58e;
$md-sys-color-tertiary: #ccdd3f;
$md-sys-color-on-tertiary: #2e3300;
$md-sys-color-tertiary-container: #a3b30b;
$md-sys-color-on-tertiary-container: #1d2100;
$md-sys-color-error: #ffb4ab;
$md-sys-color-on-error: #690005;
$md-sys-color-error-container: #93000a;
$md-sys-color-on-error-container: #ffdad6;