@use "./color" as *;

.hljs {
    background: $md-sys-color-surface-container;
    color: $md-sys-color-on-surface-variant;
}

.hljs-comment,
.hljs-quote,
.hljs-code,
.hljs-formula,
.hljs-doctag {
    color: $md-sys-color-outline;
}

.hljs-operator,
.hljs-punctuation,
.hljs-subst,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: $md-sys-color-on-surface;
}

.hljs-tag,
.hljs-name,
.hljs-literal,
.hljs-number,
.hljs-symbol,
.hljs-bullet,
.hljs-variable.language_ {
    color: $md-sys-color-primary;
}

.hljs-string,
.hljs-meta .hljs-string,
.hljs-attr,
.hljs-attribute,
.hljs-template-variable,
.hljs-built_in {
    color: $md-sys-color-secondary;
}

.hljs-regexp,
.hljs-char.escape_ {
    color: $md-sys-color-on-tertiary-container;
}

.hljs-property,
.hljs-link,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-meta,
.hljs-params {
    color: $md-sys-color-tertiary;
}

.hljs-type,
.hljs-title,
.hljs-title.function_,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-template-tag,
.hljs-variable,
.hljs-section {
    color: $md-sys-color-error;
}

.hljs-link {
    text-decoration: underline;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-addition {
    background-color: $md-sys-color-tertiary-container;
    color: $md-sys-color-on-tertiary-container;
    display: inline-block;
    width: 100%;
}

.hljs-deletion {
    background-color: $md-sys-color-error-container;
    color: $md-sys-color-on-error-container;
    display: inline-block;
    width: 100%;
}