@use "./color" as *;

.hljs {
    background: $md-sys-color-surface-container;
    color: $md-sys-color-on-surface-variant;
}

.hljs-keyword,
.hljs-literal,
.hljs-symbol,
.hljs-name,
.hljs-link,
.hljs-number,
.hljs-class,
.hljs-meta,
.hljs-tag {
    color: $md-sys-color-primary;
}

.hljs-link {
    text-decoration: underline;
}

.hljs-built_in,
.hljs-type,
.hljs-attr,
.hljs-attribute {
    color: $md-sys-color-tertiary;
}

.hljs-string,
.hljs-meta .hljs-string {
    color: $md-sys-color-secondary;
}

.hljs-regexp,
.hljs-template-tag {
    color: $md-sys-color-on-tertiary-container;
}

.hljs-subst,
.hljs-function,
.hljs-title,
.hljs-params,
.hljs-formula,
.hljs-section {
    color: $md-sys-color-error;
}

.hljs-comment,
.hljs-quote,
.hljs-doctag {
    color: $md-sys-color-on-surface-variant;
}

.hljs-variable,
.hljs-template-variable {
    color: $md-sys-color-outline;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-bullet,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: $md-sys-color-surface-tint;
}

.hljs-addition {
    background-color: #144212;
    display: inline-block;
    width: 100%;
}

.hljs-deletion {
    background-color: #600;
    display: inline-block;
    width: 100%;
}