@use "./color" as *;

.post-body {
    word-wrap: break-word;

    details,
    figcaption,
    figure {
        display: block;
    }

    summary {
        display: list-item;
    }

    [hidden] {
        display: none !important;
    }

    a {
        background-color: transparent;
        color: $md-sys-color-primary;
        text-decoration: none;
    }

    abbr[title] {
        border-bottom: none;
        -webkit-text-decoration: underline dotted;
        text-decoration: underline dotted;
    }

    b,
    strong {
        font-weight: 600;
    }

    dfn {
        font-style: italic;
    }

    h1 {
        margin: .67em 0;
        font-weight: 600;
        padding-bottom: .3em;
        font-size: 2em;
        border-bottom: 1px solid $md-sys-color-outline;
    }

    mark {
        background-color: #bb800926;
        color: $md-sys-color-on-surface-variant;
    }

    small {
        font-size: 90%;
    }

    sub,
    sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    sub {
        bottom: -0.25em;
    }

    sup {
        top: -0.5em;
    }

    img {
        border-style: none;
        max-width: 100%;
        box-sizing: content-box;
    }

    img,
    video {
        border-radius: 8px;
    }

    code,
    kbd,
    pre,
    samp {
        font-family: monospace;
        font-size: 1em;
    }

    figure {
        margin: 1em 2.5rem;
    }

    hr {
        box-sizing: content-box;
        overflow: hidden;
        background: transparent;
        border-bottom: 1px solid $md-sys-color-outline;
        height: .25em;
        padding: 0;
        margin: 1.5rem 0;
        background-color: $md-sys-color-outline-variant;
        border: 0;
    }

    input {
        font: inherit;
        margin: 0;
        overflow: auto;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    [type=button],
    [type=reset],
    [type=submit] {
        -webkit-appearance: button;
        appearance: button;
    }

    [type=checkbox],
    [type=radio] {
        box-sizing: border-box;
        padding: 0;
    }

    [type=number]::-webkit-inner-spin-button,
    [type=number]::-webkit-outer-spin-button {
        height: auto;
    }

    [type=search]::-webkit-search-cancel-button,
    [type=search]::-webkit-search-decoration {
        -webkit-appearance: none;
        appearance: none;
    }

    ::-webkit-input-placeholder {
        color: inherit;
        opacity: .54;
    }

    ::-webkit-file-upload-button {
        -webkit-appearance: button;
        appearance: button;
        font: inherit;
    }

    a:hover {
        text-decoration: underline;
    }

    ::placeholder {
        color: $md-sys-color-on-surface-variant;
        opacity: 1;
    }

    hr::before {
        display: table;
        content: "";
    }

    hr::after {
        display: table;
        clear: both;
        content: "";
    }

    td,
    th {
        padding: 0;
    }

    details summary {
        cursor: pointer;
    }

    a:focus,
    [role=button]:focus,
    input[type=radio]:focus,
    input[type=checkbox]:focus {
        box-shadow: none;
    }

    a:focus:not(:focus-visible),
    [role=button]:focus:not(:focus-visible),
    input[type=radio]:focus:not(:focus-visible),
    input[type=checkbox]:focus:not(:focus-visible) {
        outline: solid 1px transparent;
    }

    a:focus-visible,
    [role=button]:focus-visible,
    input[type=radio]:focus-visible,
    input[type=checkbox]:focus-visible {
        box-shadow: none;
    }

    a:not([class]):focus,
    a:not([class]):focus-visible,
    input[type=radio]:focus,
    input[type=radio]:focus-visible,
    input[type=checkbox]:focus,
    input[type=checkbox]:focus-visible {
        outline-offset: 0;
    }

    kbd {
        display: inline-block;
        padding: 0.25rem;
        font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
        line-height: 10px;
        color: $md-sys-color-on-surface-variant;
        vertical-align: middle;
        background-color: $md-sys-color-surface-container;
        border: solid 1px $md-sys-color-outline;
        border-radius: 6px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        font-weight: 600;
        line-height: 1.25;
    }

    h2 {
        font-weight: 600;
        padding-bottom: .3em;
        font-size: 1.5em;
        border-bottom: 1px solid $md-sys-color-outline;
    }

    h3 {
        font-weight: 600;
        font-size: 1.25em;
    }

    h4 {
        font-weight: 600;
        font-size: 1em;
    }

    h5 {
        font-weight: 600;
        font-size: .875em;
    }

    h6 {
        font-weight: 600;
        font-size: .85em;
        color: $md-sys-color-on-secondary-container;
    }

    p {
        margin-top: 0;
        margin-bottom: 10px;
    }

    blockquote {
        margin: 0;
        padding: 0 1em;
        font-size: inherit;
        text-align: inherit;
        color: $md-sys-color-on-secondary-container;
        border-left: .25em solid $md-sys-color-outline-variant;
    }

    ul,
    ol {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 2em;
    }

    ol ol,
    ul ol {
        list-style-type: lower-roman;
    }

    ul ul ol,
    ul ol ol,
    ol ul ol,
    ol ol ol {
        list-style-type: lower-alpha;
    }

    dd {
        margin-left: 0;
    }

    tt,
    code,
    samp {
        font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
        font-size: 12px;
    }

    pre {
        margin-top: 0;
        margin-bottom: 0;
        font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
        font-size: 12px;
        word-wrap: normal;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        margin: 0;
        appearance: none;
    }

    a:not([href]) {
        color: inherit;
        text-decoration: none;
    }

    p,
    blockquote,
    ul,
    ol,
    dl,
    table,
    pre,
    details {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    blockquote>:first-child {
        margin-top: 0;
    }

    blockquote>:last-child {
        margin-bottom: 0;
    }

    h1 tt,
    h1 code,
    h2 tt,
    h2 code,
    h3 tt,
    h3 code,
    h4 tt,
    h4 code,
    h5 tt,
    h5 code,
    h6 tt,
    h6 code {
        padding: 0 .2em;
        font-size: inherit;
    }

    summary h1,
    summary h2,
    summary h3,
    summary h4,
    summary h5,
    summary h6 {
        display: inline-block;
    }

    summary h1,
    summary h2 {
        padding-bottom: 0;
        border-bottom: 0;
    }

    ol[type="a s"] {
        list-style-type: lower-alpha;
    }

    ol[type="A s"] {
        list-style-type: upper-alpha;
    }

    ol[type="i s"] {
        list-style-type: lower-roman;
    }

    ol[type="I s"] {
        list-style-type: upper-roman;
    }

    ol[type="1"] {
        list-style-type: decimal;
    }

    div>ol:not([type]) {
        list-style-type: decimal;
    }

    ul ul,
    ul ol,
    ol ol,
    ol ul {
        margin-top: 0;
        margin-bottom: 0;
    }

    li>p {
        margin-top: 1rem;
    }

    li+li {
        margin-top: .25em;
    }

    dl {
        padding: 0;
    }

    dl dt {
        padding: 0;
        margin-top: 1rem;
        font-size: 1em;
        font-style: italic;
        font-weight: 600;
    }

    dl dd {
        padding: 0 1rem;
        margin-bottom: 1rem;
    }

    table {
        border-spacing: 0;
        border-collapse: separate;
        display: block;
        width: max-content;
        max-width: 100%;
        overflow: auto;
        font-variant: tabular-nums;

        &::before {
            display: table;
            content: "";
        }

        &::after {
            display: table;
            clear: both;
            content: "";
        }

        &>*:first-child {
            margin-top: 0 !important;
        }

        &>*:last-child {
            margin-bottom: 0 !important;
        }

        th {
            font-weight: 600;
        }

        thead th {
            background-color: $md-sys-color-surface-container;
            text-shadow: 0 1px 1px $md-sys-color-surface-container-lowest;
            color: $md-sys-color-on-surface;
        }

        th,
        td {
            padding: 6px 13px;
            border-block-start: 1px solid $md-sys-color-outline-variant;
            border-inline-start: 1px solid $md-sys-color-outline-variant;
        }

        tr {
            border-top: 1px solid $md-sys-color-outline-variant;

            &:last-of-type td,
            &:last-of-type th {
                border-block-end: 1px solid $md-sys-color-outline-variant;
            }

            td:last-of-type,
            th:last-of-type {
                border-inline-end: 1px solid $md-sys-color-outline-variant;
            }

            th:first-of-type {
                border-start-start-radius: 8px;
            }

            th:last-of-type {
                border-start-end-radius: 8px;
            }

            &:last-of-type td:first-of-type {
                border-end-start-radius: 8px;
            }

            &:last-of-type td:last-of-type {
                border-end-end-radius: 8px;
            }
        }

        td>:last-child {
            margin-bottom: 0;
        }

        img {
            background-color: transparent;
        }
    }

    img[align=right] {
        padding-left: 20px;
    }

    img[align=left] {
        padding-right: 20px;
    }

    code,
    tt {
        padding: .2em .4em;
        margin: 0;
        font-size: 85%;
        white-space: break-spaces;
        background-color: $md-sys-color-surface-variant;
        border-radius: 6px;
    }

    code br,
    tt br {
        display: none;
    }

    del code {
        text-decoration: inherit;
    }

    samp {
        font-size: 85%;
    }

    pre code {
        font-size: 100%;
    }

    pre>code {
        padding: 0;
        margin: 0;
        word-break: normal;
        white-space: pre;
        background: transparent;
        border: 0;
    }

    .highlight {
        margin-bottom: 1rem;
    }

    .highlight pre {
        margin-bottom: 0;
        word-break: normal;
    }

    .highlight pre,
    pre {
        padding: 1rem;
        overflow: auto;
        font-size: 85%;
        line-height: 1.45;
        color: $md-sys-color-on-surface-variant;
        background-color: $md-sys-color-surface-container;
        border: 1px solid $md-sys-color-outline;
        border-radius: 8px;
    }

    pre code,
    pre tt {
        display: inline;
        max-width: auto;
        padding: 0;
        margin: 0;
        overflow: auto;
        line-height: inherit;
        word-wrap: normal;
        background-color: transparent;
        border: 0;
    }

    [role=button]:focus:not(:focus-visible),
    [role=tabpanel][tabindex="0"]:focus:not(:focus-visible),
    button:focus:not(:focus-visible),
    summary:focus:not(:focus-visible),
    a:focus:not(:focus-visible) {
        outline: none;
        box-shadow: none;
    }

    [tabindex="0"]:focus:not(:focus-visible),
    details-dialog:focus:not(:focus-visible) {
        outline: none;
    }

    ::-webkit-calendar-picker-indicator {
        filter: invert(50%);
    }
}