@use "./base" as *;
@use "./color" as *;

.post-body {
    img {
        &.emoji {
            height: 18px;
            margin-bottom: -3px;
        }

        &.badge {
            border-radius: 0;
        }

        &.emoji,
        &.badge {
            display: inline;
        }
    }

    img+figcaption.figure,
    figcaption.figure {
        color: $md-sys-color-on-surface-variant;
        text-align: center;
        margin-top: .25em;
        margin-bottom: 1rem;
    }
}

.FeaturedPost,
.post-filter-message,
.post-outer-container,
.PopularPosts {
    border-radius: $catalog-shape-xl;
}

.FeaturedPost .post img {
    border-radius: $catalog-shape-l;
}

.share-buttons {
    border-radius: $catalog-shape-m;
}

.sidebar-container {
    border-radius: 0 $catalog-shape-xl $catalog-shape-xl 0;

    @media screen and (min-width: 1440px) {
        border-radius: 0;
    }
}

.FeaturedPost,
.post-filter-message,
.post-outer-container,
.PopularPosts,
.FeaturedPost .post img,
.share-buttons,
.sidebar-container {
    scrollbar-width: none;
}

.profile-img {
    transition: transform 1s ease-out;

    &:hover {
        transform: rotateZ(360deg);
    }
}

.BlogArchive .post-count,
.Label .label-count {
    float: none;
}

.BlogArchive .archivedate a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.centered-top .search-expand .flat-icon-button {
    bottom: 3px;

    .sticky & {
        top: 5px;
        bottom: auto;

        @media screen and (max-width:800px) {
            top: 1px;
        }
    }
}

.sticky .Header h1 {
    padding-bottom: 0;

    &,
    a,
    a:hover,
    a:visited {
        color: $md-sys-color-primary;
    }

    @media screen and (max-width:800px) {
        margin-bottom: 0;
    }
}

.post-share-buttons-top .flat-icon-button {

    .main-heading+.main .post-outer-container &,
    .FeaturedPost & {
        margin-top: 0px;
    }

    @media screen and (max-width: 800px) {
        .main-heading+.main .post-outer-container & {
            margin-top: -8px;
        }

        .FeaturedPost & {
            margin-top: -6px;
        }
    }
}

.post-bottom {
    flex-wrap: nowrap;
    align-items: flex-start;

    .post-share-buttons .flat-icon-button {
        margin-top: -4px;
    }

    .flat-button {
        margin: 0px;
    }
}